[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DEsingle"]
	path = DEsingle
	url = https://github.com/miaozhun/desingle
[submodule "scRecover"]
	path = scRecover
	url = https://github.com/miaozhun/screcover
